@font-face {
  font-family: "GOST 2930-62 PART 1"
  src: url(fonts\GOST 2930-62 PART 1.ttf);
}

body {
  width: 1440px;
  height: 1024px;
  margin: 0px;
  background-color: black;
}

.panel {
  position: absolute;
  width: 1300px;
  height: 346px;
  left: 70px;
  top: 626px;
  justify-content: center;
}
.screenframe {
  position: absolute;
  left: 4.86%;
  right: 30.21%;
  top: 3.12%;
  bottom: 46.48%;
}
.screen {
  position: absolute;
  left: 6.6%;
  right: 31.94%;
  top: 5.57%;
  bottom: 48.83%;
}
.resetb {
  position: absolute;
  width: 95px;
  height: 440px;
  left: 1275px;
  top: 108px;
}
.resetu {
  position: absolute;
  width: 64.39px;
  height: 252px;
  left: 1290px;
  top: 31px;
}
.dangerback {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 1068px;
  top: 32px;
}
.danger {
  position: absolute;
  width: 122px;
  height: 122px;
  left: 1079px;
  top: 43px;
}
.sound {
  position: absolute;
  width: 144px;
  height: 151px;
  left: 1068px;
  top: 215px;
}
.nextback {
  position: absolute;
  width: 144px;
  height: 143.21px;
  left: 1068px;
  top: 405px;
}
.next {
  position: absolute;
  width: 88.13px;
  height: 88.13px;
  left: 1095.54px;
  top: 432.54px;
  background: #FF0000;
  border-radius: 50%;
}
.next:hover {
  background-color: #B90000;
}
.tmpan {
  position: absolute;
  width: 239px;
  height: 230px;
  left: 131px;
  top: 684px;
}
.tmbut {
  position: absolute;
  width: 205.32px;
  height: 151.9px;
  left: 151px;
  top: 701.16px;
}
.tmlightu {
  position: absolute;
  width: 157.35px;
  height: 32.32px;
  left: 175px;
  top: 729.17px;
}
.tmlightb {
  position: absolute;
  width: 157.55px;
  height: 32.32px;
  left: 174.8px;
  top: 863.06px;
}
.second {
  position: absolute;
  width: 236px;
  height: 262px;
  left: 584px;
  top: 684px;
}
.seconder {
  position: absolute;
  width: 185.19px;
  height: 185.19px;
  left: 609.48px;
  top: 735px;
  transition: 500ms;
}
.thirdb {
  position: absolute;
  width: 274px;
  height: 231px;
  left: 1035px;
  top: 684px;
}
.thirddark1 {
  position: absolute;
  width: 59px;
  height: 41px;
  left: 73.26%;
  right: 22.64%;
  top: 74.51%;
  bottom: 21.48%;
  background: #D30909;
}
.thirddark2 {
  position: absolute;
  width: 54px;
  height: 41px;
  left: 77.5%;
  right: 18.75%;
  top: 74.51%;
  bottom: 21.48%;
  background: #D30909;
}
.thirddark3 {
  position: absolute;
  width: 54px;
  height: 41px;
  left: 81.39%;
  right: 14.86%;
  top: 74.51%;
  bottom: 21.48%;
  background: #D30909;
}
.thirddark4 {
  position: absolute;
  width: 59px;
  height: 41px;
  left: 85.28%;
  right: 10.62%;
  top: 74.51%;
  bottom: 21.48%;
  background: #D30909;
}
.thirdlight1 {
  width: 59px;
  height: 18px;
  position: absolute;
  left: 73.26%;
  right: 22.64%;
  top: 79.1%;
  bottom: 19.14%;
  background: #FF0000;
}
.thirdlight2 {
  width: 54px;
  height: 18px;
  position: absolute;
  left: 77.5%;
  right: 18.75%;
  top: 79.1%;
  bottom: 19.14%;
  background: #FF0000;
}
.thirdlight3 {
  width: 54px;
  height: 18px;
  position: absolute;
  left: 81.39%;
  right: 14.86%;
  top: 79.1%;
  bottom: 19.14%;
  background: #FF0000;
}
.thirdlight4 {
  width: 59px;
  height: 18px;
  position: absolute;
  left: 85.28%;
  right: 10.62%;
  top: 79.1%;
  bottom: 19.14%;
  background: #FF0000;
}
.thirdmid1 {
  width: 59px;
  height: 6px;
  position: absolute;
  left: 73.26%;
  right: 22.64%;
  top: 78.52%;
  bottom: 20.9%;
  background: #A90000;
}
.thirdmid2{
  width: 54px;
  height: 6px;
  position: absolute;
  left: 77.5%;
  right: 18.75%;
  top: 78.52%;
  bottom: 20.9%;
  background: #A90000;
}
.thirdmid3{
  width: 54px;
  height: 6px;
  position: absolute;
  left: 81.39%;
  right: 14.86%;
  top: 78.52%;
  bottom: 20.9%;
  background: #A90000;

}
.thirdmid4 {
  width: 59px;
  height: 6px;
  position: absolute;
  left: 85.28%;
  right: 10.62%;
  top: 78.52%;
  bottom: 20.9%;
  background: #A90000;
}
.thirdturn {
  position: absolute;
  width: 16.12px;
  height: 10.55px;
  left: 1077px;
  top: 813px;
}
.thirdturn2 {
  position: absolute;
  width: 16.12px;
  height: 10.55px;
  left: 1135px;
  top: 813px;
}
.thirdturn3 {
  position: absolute;
  width: 16.12px;
  height: 10.55px;
  left: 1191px;
  top: 813px;
}
.thirdturn4 {
  position: absolute;
  width: 16.12px;
  height: 10.55px;
  left: 1250px;
  top: 813px;
}
.wire {
  position: absolute;
  width: 13px;
  height: 78px;
  left: 399px;
  top: 548px;
}
.clickl {
  position: absolute;
  width: 14.65px;
  height: 55.47px;
  left: 183.21px;
  top: 810px;
}

.signnext {
  position: absolute;
  width: 78.69px;
  height: 10.23px;
  left: 1100.26px;
  top: 471.88px;
}
.clickr {
  position: absolute;
  width: 14.65px;
  height: 55.47px;
  left: 307px;
  top: 810px;
}
