@font-face {
  font-family: "GOST 2930-62 PART 1"
  src: url(fonts\GOST 2930-62 PART 1.ttf);
}
@font-face {
 font-family: "Lucida Console"
 src:url(fonts\GOST 2930-62 PART 1.ttf);
}
body {
  width: 1440px;
  height: 1024px;
  margin: 0px;
  background-color: black;
}
h1 {
  position: absolute;
  width: 463px;
  height: 59px;
  left: 306px;
  top: 180px;
  font-family: Lucida Console;
  font-style: normal;
  font-weight: normal;
  font-size: 59px;
  color: black;
}
h2 {
  position: absolute;
  width: 460px;
  height: 33px;
  left: 309px;
  top: 270px;
  font-family: Lucida Console;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  color: black;
}
.panel {
  position: absolute;
  width: 1300px;
  height: 346px;
  left: 70px;
  top: 626px;
  justify-content: center;
}
.screenframe {
  position: absolute;
  left: 4.86%;
  right: 30.21%;
  top: 3.12%;
  bottom: 46.48%;
}
.screen {
  position: absolute;
  left: 6.6%;
  right: 31.94%;
  top: 5.57%;
  bottom: 48.83%;
  background: #454545;
  border-radius: 47px;
}
.fakescreen {
  position: absolute;
  left: 6.6%;
  right: 31.94%;
  top: 5.57%;
  bottom: 48.83%;
  background: linear-gradient(180deg, #860000, #D02323, #FF0000 );
  border-radius: 47px;
  opacity: 0;
  animation: gradient 8s ease infinite alternate;
}
.resetb {
  position: absolute;
  width: 95px;
  height: 440px;
  left: 1275px;
  top: 108px;
}
.resetu {
  position: absolute;
  width: 64.39px;
  height: 252px;
  left: 1290px;
  top: 31px;
}
.dangerback {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 1068px;
  top: 32px;
}
.danger {
  position: absolute;
  width: 122px;
  height: 122px;
  left: 1079px;
  top: 43px;
  border-radius: 50%;
  background: #454545;
}
.sound {
  position: absolute;
  width: 144px;
  height: 151px;
  left: 1068px;
  top: 215px;
}
.nextback {
  position: absolute;
  width: 144px;
  height: 143.21px;
  left: 1068px;
  top: 405px;
}
.next {
  position: absolute;
  width: 88.13px;
  height: 88.13px;
  left: 1095.54px;
  top: 432.54px;
  background: #FF0000;
  border-radius: 50%;
}
.next:hover {
  background-color: #B90000;
}
.tmpan {
  position: absolute;
  width: 239px;
  height: 230px;
  left: 131px;
  top: 684px;
}
.tmbut {
  position: absolute;
  width: 205.32px;
  height: 151.9px;
  left: 151px;
  top: 701.16px;
}

.second {
  position: absolute;
  width: 236px;
  height: 236.38px;
  left: 583px;
  top: 681px;
  background: #FCFDE5;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
}
.seconder {
  position: absolute;
  width: 185.19px;
  height: 185.19px;
  left: 609.48px;
  top: 735px;
  transition: 500ms;
}

.wire {
  position: absolute;
  width: 13px;
  height: 78px;
  left: 399px;
  top: 548px;
}
.clickl {
  position: absolute;
  width: 14.65px;
  height: 55.47px;
  left: 183.21px;
  top: 810px;
}

.signnext {
  position: absolute;
  width: 78.69px;
  height: 10.23px;
  left: 1100.26px;
  top: 471.88px;
}
.clickr {
  position: absolute;
  width: 14.65px;
  height: 55.47px;
  left: 307px;
  top: 810px;
}
.off {
  position: absolute;
  left: 41.4%;
  right: 54.13%;
  top: 70.49%;
  bottom: 27.62%;
}
.stable {
  position: absolute;
  left: 46.66%;
  right: 49.26%;
  top: 67.85%;
  bottom: 30.34%;
}
.dynamic{
  position: absolute;
  left: 51.53%;
  right: 43.6%;
  top: 70.49%;
  bottom: 27.41%;
}
.text {
  opacity: 0
}
.tmlightu1 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 175px;
  top: 734px;
  background: #188207;
  border-radius: 50%
}
.tmlightu2 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 301px;
  top: 734px;
  background: #188207;
  border-radius: 50%
}
.tmlightb1 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 175px;
  top: 865px;
  background: #A82B2B;
  border-radius: 50%
}
.tmlightb2 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 301px;
  top: 865px;
  background: #A82B2B;
  border-radius: 50%
}
.thirdpanel {
  position: absolute;
  width: 346px;
  height: 183px;
  left: 962px;
  top: 708px;
  background: #5F5F5F;
  border-radius: 17px;
}
.thirdbtn1 {
   position: absolute;
   width: 86px;
   height: 84px;
   left: 963px;
   top: 712px;
   background: #FFFFFF;
   border: 2px solid #000000;
   box-sizing: border-box;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.62);
   border-radius: 24px;
}
.thirdbtn2 {
  position: absolute;
  width: 86px;
  height: 84px;
  left: 1049px;
  top: 712px;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.62);
  border-radius: 24px;
}
.thirdbtn3 {
  position: absolute;
  width: 86px;
  height: 84px;
  left: 1134px;
  top: 712px;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.62);
  border-radius: 24px;
}
.thirdbtn4 {
  position: absolute;
  width: 86px;
  height: 84px;
  left: 1220px;
  top: 712px;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.62);
  border-radius: 24px;
}
.thirdbtn1:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.62);
  transition: 300ms;
}
.thirdbtn2:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.62);
  transition: 300ms;
}
.thirdbtn3:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.62);
  transition: 300ms;
}
.thirdbtn4:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.62);
  transition: 300ms;
}
.thirdup1 {
  position: absolute;
  width: 60px;
  height: 57px;
  left: 976px;
  top: 726px;
  background: #4F4F4F;
  border: 10px solid #C8C8C8;
  box-sizing: border-box;
  border-radius: 50%;
}
.thirdup2 {
  position: absolute;
  width: 60px;
  height: 57px;
  left: 1061px;
  top: 726px;
  background: #4F4F4F;
  border: 10px solid #C8C8C8;
  box-sizing: border-box;
  border-radius: 50%;
}
.thirdup3 {
  position: absolute;
  width: 60px;
  height: 57px;
  left: 1147px;
  top: 726px;
  background: #4F4F4F;
  border: 10px solid #C8C8C8;
  box-sizing: border-box;
  border-radius: 50%;
}
.thirdup4 {
  position: absolute;
  width: 60px;
  height: 57px;
  left: 1232px;
  top: 726px;
  background: #4F4F4F;
  border: 10px solid #C8C8C8;
  box-sizing: border-box;
  border-radius: 50%;
}
.thirdsign1 {
  position: absolute;
  width: 5px;
  height: 35px;
  left: 1006px;
  top: 791px;
  font-family: "GOST 2930-62 PART 1";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  color: #000000;
}
.thirdsign2 {
  position: absolute;
  width: 5px;
  height: 35px;
  left: 1087px;
  top: 791px;
  font-family: "GOST 2930-62 PART 1";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  color: #000000;
}
.thirdsign3 {
  position: absolute;
  width: 5px;
  height: 35px;
  left: 1172px;
  top: 791px;
  font-family: "GOST 2930-62 PART 1";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  color: #000000;
}
.thirdsign4 {
  position: absolute;
  width: 5px;
  height: 35px;
  left: 1257px;
  top: 791px;
  font-family: "GOST 2930-62 PART 1";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  color: #000000;
}
.thirdup1:hover {
  position: absolute;
  width: 60px;
  height: 57px;
  left: 976px;
  top: 726px;
  background: #4F4F4F;
  border: 14px solid #8E8E8E;
  box-sizing: border-box;
  border-radius: 50%;
  transition: 600ms;
}
.thirdup2:hover {
  position: absolute;
  width: 60px;
  height: 57px;
  left: 1061px;
  top: 726px;
  background: #4F4F4F;
  border: 14px solid #8E8E8E;
  box-sizing: border-box;
  border-radius: 50%;
  transition: 600ms;
}
.thirdup3:hover {
  position: absolute;
  width: 60px;
  height: 57px;
  left: 1147px;
  top: 726px;
  background: #4F4F4F;
  border: 14px solid #8E8E8E;
  box-sizing: border-box;
  border-radius: 50%;
  transition: 600ms;
}
.thirdup4:hover {
  position: absolute;
  width: 60px;
  height: 57px;
  left: 1232px;
  top: 726px;
  background: #4F4F4F;
  border: 14px solid #8E8E8E;;
  box-sizing: border-box;
  border-radius: 50%;
  transition: 600ms;
}
.fade {
  width: 1440px;
  height: 1024px;
  background: linear-gradient(180deg, #00bf8f, #26866E, #00DA30 );
  opacity: 0;
  animation: gradient 8s ease infinite alternate;
}
@keyframes gradient {
  100% {
        background-position: 0 2000px
    }
}
